.middle {
  
}
.quant {
    margin: 0 auto;
    border: 3px solid #e6f7ff;
    height: 70px;
    width: 80%;
    line-height: 2.5;
    font-size: 26px;
    font-weight: bold;
}
#city {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.2;
}
h1 {
    padding-top: 10px;
    font-size: 30px;
}
header a  {
    text-decoration: none;
    color: #000;
    
}

#menu {
    margin-top: 100px;
}

#name {
    font-size: 32px;
    font-weight: bold;
}

.button {
 
    color: #e6f7ff;

}